body {
  background-color: Pink;
  outline-color: hotpink;
}
h1 {
  color: white;
  text-align: center;
  font-size: 30px
}
h2 { color: white;
     font-size: 20px
}
h3 { color: hotpink;
  text-align: center;
     font-size: 20px
}
h4 { color: white;
  text-align: center;
  font-size: 18px
}
h5 { color: hotpink;
  text-align: center;
  font-size: 15px
}
h6 { color: white;
  text-align: center;
  font-size: 10px
}
p {
  font-size: 20px;
  color: white;
}
